@import "../fonts/octicons/octicons.css";
@import "../fonts/Fakt/fakt.css";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.line {
  width: 100%;
}

.center {
  text-align: center;
}

header {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  z-index: 3;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  float: left;
  color: inherit;
  text-decoration: none;
  padding: 15px;
}

header nav ul li a:hover {
  color: #ef5d4f;
}

header nav ul li a.selected {
  font-weight: bold;
  color: #ef5d4f;
}

header nav ul li.right {
  float: right;
}

.welcome-container {
  background: linear-gradient(to top, #FBD2C6 0%, #FEF2EE 100%);
  color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  height: 530px;
  padding-top: 80px;
}

.welcome-container img {
  height: 130px;
}

.welcome-container h1 {
  font-family: FaktPro;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0;
}

.welcome-container .buttons-container {
  margin-top: 40px;
}

.welcome-container .buttons-container .button {
  font-family: FaktPro;
  border: rgba(235,93,79,0.75) 3px solid;
  border-radius: 5px;
  padding: 10px 20px;
  background: none;
  color: #f1595f;
  font-size: 1.1em;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background ease 0.2s;
  display: inline-block;
  text-decoration: none;
}

.welcome-container .buttons-container .button:hover {
  background: rgb(235, 93, 79);
  color: #FEF2EE;
}

.welcome-container .buttons-container h3 {
  font-family: FaktPro;
  font-weight: normal;
}

.welcome-container .buttons-container h3 a {
  color: #ef5d4f;
  text-decoration: none;
  transition: all ease 0.2s;
}

.welcome-container .buttons-container h3 a:hover {
  opacity: 0.8;
}

.print-app-container {
  margin-top: -180px;
  padding-bottom: 20px;
}

.print-app-container img {
  /*width: 95%;*/
  box-shadow: #777 1px 1px 15px;
}

.gradient-line {
  background: linear-gradient(to right, #f1595f 0%, #f17b59 100%);
  color: rgba(255,255,255,0.7);
  padding: 30px;
  z-index:2;
  position: relative;
}

.gradient-line h1 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 30px;
  font-family: FaktPro;
  margin-top: 0;
}

.gradient-line .platforms-container i {
  font-size: 4em;
  margin-right: 30px;
}

.gradient-line p {
  font-size: 1.15em;
  font-family: 'Roboto';
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 30px;
  margin-bottom: 0;
}

.solid-line {
  color: #333;
  padding: 30px;
  font-family: FaktPro;
}

.solid-line h1 {
  font-size: 2em;
  font-weight: normal;
}

.solid-line.light-orange {
  background: #FFEEEC;
}

.solid-line.light-gray {
  background: #FBFBFB;
}

.centered-line {
  max-width: 1000px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  margin: auto;
}

.centered-line .column {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 680px) {
  .centered-line {
    display: block !important;
  }

  .centered-line .column {
    width: 100% !important;
  }

  .remotes-container i, .remotes-container .octicon {
    font-size: 3em !important;
  }
}

.centered-line .column p {
  font-size: 1.15em;
  color: rgba(51, 51, 51, 0.8);
  font-family: 'Roboto';
  font-weight: lighter;
  line-height: 1.6;
}

.remotes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remotes-container i, .remotes-container .octicon {
  font-size: 4em;
  padding: 0 20px;
  display: inline-table;
}

.red-heart {
  color: #E85846;
}

footer {
  text-align: center;
  color: rgba(0,0,0,0.7);
  margin-top: 30px;
  margin-bottom: 30px;
}
